body {
    background: url("myBackground.jpg");
    background-size: 100%;
}

h1 {
    color: #3888B4;
}

p, footer {
    color: lightblue;
}
footer {
    clear: both;
}
#banner {
    width: 76%;
}

#buttontable {
    width: 76%;
    background-color: #576C75;
}
